.hero {
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(/images/index/hero.jpg);
    background-position-x: 60%;
    background-position-y: 70%;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 70vh;
    padding: 32px;
}

.hero img {
    max-height: 144px;
}

.image-header.sutter {
    background-image: url('/images/index/card-sutter.jpg');
}

.image-header.palladio {
    background-image: url('/images/index/card-palladio.jpg');
}

.image-header.midtown {
    background-image: url('/images/index/card-midtown.jpg');
}

.image-header.roseville {
    background-image: url('/images/index/card-roseville.jpg');
}

.image-header.elkgrove {
    background-image: url('/images/index/card-elkgrove.jpg');
}
